@model Nhom69MidTermDotNet.Models.BangChamCong

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BangChamCong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Songay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Songay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Luongthang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Luongthang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaNvNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNvNavigation.Hoten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaCc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
