@model IEnumerable<Nhom69MidTermDotNet.Models.BangChamCong>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    Xem theo tháng
    <form asp-action="Index" asp-controller="BangChamCongs">
        <select name="thang">
            @for (var i = 1; i <= 12; i++)
            {
                <option value="@i" asp-route-id="thang">@i</option>
            }
        </select>
        <button type="submit">Xem theo tháng</button>
    </form>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luongthang)
            </th>
            <th>
                Nhân viên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Songay)
            </td>
            <td>
                @((item.MaNvNavigation.LuongCb) / 22 + item.Songay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNvNavigation.Hoten)
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
